body {
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
  font-weight: 400;
}

.app {
  display: flex;
  flex-direction: column;
  font-family: system-ui;
  
  min-height: 100vh;
  width: 100%;  
}

.header-right {
   margin-left: auto;
}

.main {
  display: flex;
  flex: 1;  
}

.app-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  min-height: 64px;
  padding: 0px 32px;

  background: #18181a;
  color: #666;
  font-size: 14px;
}

.header { border-bottom: 1px solid #263a27ff; }
.footer { border-top: 1px solid #263a27ff; }

.link {
  display: inline-block;
  min-width: 90px;
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid #59ba57ff;
  background: #263a27ff;
  color: #f6f7f6ff;
}

.link:hover {  
  background: #478b46ff;
}

.text-link {
  color: #f6f7f6ff;
  text-decoration: none;
  transition: color 0.15s ease;
}

.text-link:hover {
  color: #478b46ff;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.card {
  flex: 1;
  min-width: 220px;  
  max-width: 260px;  
  background: #262629ff;
  border: 1px solid #77777bff;
  border-radius: 12px;  
  padding: 20px;
  margin: 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.card h3 {
  margin: 0;
  font-size: 28px;
  color: #f6f7f6ff;
}

.card p {
  color: #f6f7f6ff;  
  font-size: 20px;  
  text-align: left;
  padding: 0 0 0 12px;
}

.hero-title {
  font-family: 'Inter', sans-serif;
  font-size: clamp(24px, 10vw, 100px);
  color: #f6f7f6ff;
  line-height: 1.1;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 6px 0;
  letter-spacing: -0.02em;
}

.hero-subtitle {
  font-family: 'Inter', sans-serif;
  font-size: clamp(14px, 2.2vw, 18px);
  color: #f6f7f6ff;
  line-height: 1.1;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 28px 0;
}

.main-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background: #18181a;
  padding-top: 64px;
}
